body {
    background-color: #819F7F;
}
.indie-flower-regular {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
  }

  .indie-flower-bold {
    font-family: "Indie Flower", cursive;
    font-weight: 500;
    font-style: normal;
  }
  
  .name {
    padding-left: 15%;
    padding-top: 5%;
    font-size: 70px;
  }

  .intro {
    background-color: #FDFBDA;
    width: 105%;
    color: #2D4659;
  }

  .nav {
    background-color: #D3D0A8;
    overflow: hidden;
    padding-left: 3%;
    padding-top: 2%;
    font-weight: 400;
  }

h4 {
    padding-right: 30%;
    color:#FDFBDA;
}
  
.links {
    text-align: right;
    color: #2D4659;
    font-size: 30px;
    margin-left: 9%
}

.links:hover {
  color: #FDFBDA;
}

h3 {
    font-size: 40px;
    color: #D3D0A8;
    padding-left: 10%;
    padding-top: 5%;
}

.right{
  text-align: right;
}

.right2{
  align-items: center;
}

#right {
    padding-left: 45%;
}

#right2 {
  padding-left: 40%;
}

#left {
  padding-right: 40%;
}

.abel-regular {
    font-family: "Abel", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

.sophmore {
    padding-left: 5%;
    padding-right: 35%;
    font-size: 20px;
    color: #2D4659;
    padding-bottom: 5%;
}

p {
  font-size: 18px;
  color: #FDFBDA;
  padding-left: 5%;
}

.contact{
  background-color: #2D4659;
  color: #FDFBDA;
  width: 110px;
  padding: 10px;
  border-radius: 40px;
  margin-top: 2%;
  font-size: 30px;
}

.col {
  display: flex;
  align-items: center;
}

#Projects{
  text-align: center;
  padding-top: 8%;
  font-size: 70px;
}

.green{
  color: #819F7F;
  text-align: center;
  padding-bottom: 5%;
}

.assignments{
  color: #FDFBDA;
  margin-top: 8%;
}

.skills{
  margin-top: 20px;
  text-align: center;
  color: #FDFBDA;
  font-size: 40px;
}

.big{
  font-size: 70px;
}

img{
  width: 400px;
  margin: 20px;
}

#pic{
  width: 200px;
 align-items: right;
  border-radius: 50%;
  
}

.linkbutton{
  align-items: center;
  position: absolute;
  top:30%;
  margin-left: 50%;
}

.descrption{
  color: #D3D0A8;
}

a{
  color:#FDFBDA
}

a:hover{
  color: #D3D0A8;
}

.Github{
  background-color: #2D4659;
  color: #FDFBDA;
  width: 20%;
  padding: 10px;
  border-radius: 40px;
  font-size: 30px;
  bottom: 10%;
  margin-left: 20%;
  margin-top: 5%;
}

.blink{
  background-color: #2D4659;
  color: #FDFBDA;
  width: 20%;
  
  padding: 10px;
  border-radius: 40px;
  font-size: 20px;
  bottom: 10%;
  margin-left: 20%;
  margin-top: 5%;
}

.bottom{
  background-color: #D3D0A8;
    width: 105%;
    color: #FDFBDA;
}

.center{
  text-align: center;
  padding-top: 2%;
  font-size: 60px;
}